<nav class="app-nav">
  <!-- <a href="/index.html">HOME</a> -->
  <a href="/pages/executive/executiveHome.html">รายงานเข้าร้านค้า</a>
  <!-- <a href="/pages/dashboard/RfmDashboard.html">จัดการ RFM</a> -->
  <!-- <a href="/pages/reports/reportTracker.html">รายงานเข้าร้านค้า</a> -->
  <!-- <a href="/pages/admin/AddProductSpec.html">การจัดการข้อมูลสินค้า</a> -->
  <!-- <a href="/pages/admin/Adminannouncements.html">จัดการประชาสัมพันธ์</a> -->
  <!-- <a href="/pages/components/importData.html">นำเข้าข้อมูล</a> -->
  <a href="/UnderDev.html">จัดการ RFM</a>
</nav>